*{
    padding:0;
    margin:0;
}
html, body {
    
    background-color:whitesmoke;
    color: gray;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.title{
    position: absolute;
    top:20px;
}
.navBar {
    
    position: relative;
}
.navList {
    border-right: 1px solid grey;
    list-style: none;
    left:20px;
    position: absolute;
    top: 30%;
}

a {
    text-decoration: none;
}
.description {
    padding:10px;

}